#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    user-select: none
}

#instructions {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 26px;
    cursor: pointer;
    line-height: 60px;
    user-select: none
}
#instructions p {
    color: white;
    user-select: none;
}
a{
    color: #ffcd2a;
    color: #009dff;
}